# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/*
*.iml
out
gen

*__pycache__/
# Images / Plots
*plots/

# Jupyter Checkpoints
*ipynb_checkpoints/
datasets/
Caspase_8_Analysis/__pycache__/

# MD Files
*.xtc
*.gro
*.pdb
*.npz
MD_Analysis/Agonists_Antagonists/AnalysisAgonistsAntagonists/__pycache__/
/deprecated/
/.ipynb_checkpoints/
/figures/
/MDSimsEval.egg-info/
/AnalysisPipeline_5HT2A.ipynb
/jupyter_notebooks/cache/
/md_analysis_run.py
/md_bootstrap_models.py
/debug_models.py
/md_top_ks.py
