# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea/*
*.iml
out
gen

*__pycache__/
# Images / Plots
*plots/

# Jupyter Checkpoints
*ipynb_checkpoints/
datasets/
Caspase_8_Analysis/__pycache__/

# MD Files
*.xtc
*.gro
*.pdb
*.npz
MD_Analysis/Agonists_Antagonists/AnalysisAgonistsAntagonists/__pycache__/
